/* ******Outer wrappers****** */

.create-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    padding: 5vh 0 10vh 0;
    gap: 30px;
}

.central-wrapper {
    width: 50vw;
    height: 90vh;
}

/* **************Description wrapper*********** */

.descr-wrapper {
    background-color: #ea2879;
    padding: 16px;
    border-radius: 30px;
    height: 25%;
    -webkit-box-shadow: 10px 10px 36px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 36px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 36px -4px rgba(0, 0, 0, 0.75);
}

.descr-wrapper h2 {
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-size: 28px;
}

.descr-wrapper hr {
    width: 10vw;
    margin: auto;
    border: 1px solid white;
}

.descr-wrapper p {
    font-weight: 500;
    padding: 0 50px;
    line-height: 2;
    color: white;
}

/* ************Outer form and input wrappers************ */

.field {
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 25px;
    border-radius: 30px;
    padding: 10px 10px 20px 10px;
    background-color: #a6db67;
    border: none;
    color: white;
    flex-direction: column;
    -webkit-box-shadow: 10px 10px 13px 4px rgba(120, 120, 120, 1);
    -moz-box-shadow: 10px 10px 13px 4px rgba(120, 120, 120, 1);
    box-shadow: 10px 10px 13px 4px rgba(120, 120, 120, 1);
}

.create-field {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;
}

.create-field > div {
    width: 42%;
    height: 100%;
}

/* ***************Left container*************** */

.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* ***Input wrappers and inputs **** */

.left-container .inner-div {
    display: flex;
    flex-direction: column;
}

.left-container .inner-div {
    width: 100%;
}

.inner-div input {
    width: 80%;
    font-size: 20px;
    transition: all 0.3s ease-out;
}

/* Radio buttons input */

.gender-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
}

.gender-wrapper .inner-gender-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.gender-wrapper .inner-gender-wrapper div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
}

.gender-wrapper input {
    accent-color: #ea2879;
    height: 2vh;
    width: 2vh;
}

/* *************Right conatiner************ */

textarea {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.691);
    width: 100%;
    height: 87%;
}

/* **************Images**************** */

.create-wrapper img {
    width: 20vw;
}

/* ***********Error message**************** */

.message {
    color: #ea2879;
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .central-wrapper {
        width: unset;  
        height: 80vh;           
    }

    .left-container {
        height: 100%;
    }

    .descr-wrapper p{
        padding: 0 5%;
        line-height: 1.5;
    }

    .central-wrapper label,
    .left-container p {
        font-size: 20px;
    }

    .inner-div input,
    textarea {
        font-size: 17px;
    }

    .create-wrapper button,
    .create-wrapper legend {
        font-size: 20px;
    }

    .create-wrapper h2 {
        font-size: 22px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1000px) {
    .parrot-img {
        display: none;
    }

    .create-wrapper {
        margin-left: 5%;
    }
}


@media screen and (max-width: 750px) {
    .bunny-img,
    .hamster-img {
        display: none;
    } 

    .create-wrapper {
        margin-right: 5%;
    }
}

@media screen and (max-width: 600px) {

    .descr-wrapper{
        height: unset;
    }

    .central-wrapper { 
        height: 140vh;           
    }

    .bunny-img {
        display: none;
    } 

    .create-wrapper {
        margin-right: 5%;
    }

    .create-field {
       flex-direction: column;  
       align-items: center; 
    }

    .create-field > div {
        width: 80%;   
        display: flex;  
        flex-direction: column;           
    }   

    .inner-div input{
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .central-wrapper label,
    .left-container p {
        font-size: 18px;
    }

    .inner-div input,
    textarea {
        font-size: 16px;
    }

    .create-wrapper button,
    .create-wrapper legend {
        font-size: 18px;
    }

    .create-wrapper h2 {
        font-size: 19px;
    }
    
    .create-field > div {
        width: 90%;          
    }   
}

