.outer-wrapper {
    width: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 4vh 0 6vh 0;
}

.details-wrapper {
    background-color: #a6db67;
    padding: 30px;
    width: 70vw;
    height: calc(width/1.8);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    -webkit-box-shadow: 10px 10px 36px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 36px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 36px -4px rgba(0, 0, 0, 0.75);
}

.profile-pic {
    flex-basis: 50%;
    border-radius: 50%;
    height: 95%;
    width: auto;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    outline: 10px solid #ea2879;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details-info-wrapper {
    flex-basis: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-wrapper ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.details-wrapper h1 {
    margin-bottom: 10px;
    text-align: center;
    color: #ea2879;
}

.details-story {
    max-height: 200px;
    overflow: hidden;
}

.details-story:hover {
    overflow-y: scroll;
}


.like-div {
    text-align: center;
    font-weight: 800;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.likes-and-comments {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.button-div,
.edit-del-btn-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
}

.button-div {
    font-size: 28px;
}

.bottom-div {
    width: 20vw;
    height: 7vw;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.bottom-div .add-comment {

    color: white;

}

.bottom-div .add-comment:hover {
    cursor: pointer;
}

.bottom-div .add-comment:hover {
    opacity: 0.6;
}

/* -------------------COMMENTS -----------------*/


.comments-div {
    height: 80%;
    display: flex;
    align-items: center;
}

.comments-div .no-comments {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    margin: auto;
}

.details-wrapper ul.comment-holder {
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 4% 10%;
}

.comment-list-item {
    width: 100%;
}

.comment-box {
    color: #ea2879;
    padding: 2px 12px 0px 12px;
    background-color: white;
    border-radius: 100px;
    border-top-left-radius: 0;
    max-width: fit-content;
    margin-left: 2vw;
    -webkit-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.301);
    -moz-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.301);
    box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.301);
}

.comment-box p.main {
    font-size: 20px;
    padding: 8px 18px 0 18px;
    text-align: justify;
    line-height: 1.2;
}

.comment-box p.sub {
    text-align: center;
    font-size: 12px;
    color: rgb(173, 215, 173)
}

.username {
    font-weight: 600;
}

.comment {
    font-style: italic;
}

@media screen and (max-width: 1500px) {

    .details-wrapper {
        width: 80vw;
    }
}

@media screen and (max-width: 1300px) {

    .details-wrapper {
        width: 90vw;
    }

}

@media screen and (max-width: 1000px) {

    .details-wrapper {
        width: 85vw;
        flex-direction: column;
        padding-top: 8vh;
        padding-bottom: 12vh;
    }

    .profile-pic {
        width: 80%;
        height: auto;
    }

    .button-div,
    .edit-del-btn-wrapper {
        width: 100%;
        padding-top: 10vh;
    }

    .bottom-div {
        width: 100%;
        justify-content: space-between;
    }

}

@media screen and (max-width: 1000px) {

    .details-wrapper {
        padding: 5vh;
    }

    .profile-pic {
        width: 80%;
        height: auto;
    }

    .button-div {
        padding-top: 5vh;
    }

    .edit-del-btn-wrapper {

        padding-top: 0;
    }

    ul {
        padding: 0;
    }

}

@media screen and (max-width: 600px) {

    .details-wrapper {
        width: 90vw;
        font-size: 20px;
    }

    .button-div {
        font-size: 24px;
    }

}

@media screen and (max-width: 500px) {

    .profile-pic {
        width: 90%;
    }

    .details-wrapper {
        font-size: 18px;
        padding: 5vh 2vh;
    }

    .button-div {
        font-size: 22px;
    }

}

@media screen and (max-width: 500px) {

    .details-wrapper {
        font-size: 16px;
        padding: 3vh 2vh;
    }

    .details-wrapper ul {
        gap: 0px
    }

    .button-div {
        padding-top: 0;
    }

}