.footer {
    position: absolute;
    bottom: 0;
    padding-top: 1rem;
    background-color: #ea2879;
    height: 9vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    cursor: default;
}

footer p {
    margin: 0;
}