.wrapper {
    background-color: #a6db67;
    min-height: 80vh;
    color: white;
    display: flex;
    padding: 0px 150px 0px 240px;
    gap: 50px;
    align-items: center;
    cursor: default;
}

.wrapper .info {
    width: 38vw;
    font-size: 24px;
    text-align: center;
}

.wrapper .info a {
    font-size: 23px;
    text-decoration: underline;
    color: white;
}

.img-holder img {
    width: 45vw;
    height: auto;
}

@media (max-width: 1353px) {

    .wrapper {
        padding: 50px 50px;
        gap: 0px;
    }

    .wrapper .info {
        font-size: 21px;

    }

}

@media (max-width: 1000px) {

    .wrapper {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
    }

    .wrapper .info {
        width: 90vw;
        margin-top: 20px;
    }

    .img-holder {
        width: 100%;
        height: auto;
    }

    .img-holder img {
        width: 100%;
    }

}

@media (max-width: 500px) {

    .wrapper .info {
        width: 90vw;
        font-size: 18px;
    }

}

@media (max-width: 500px) {

    .wrapper .info {
        width: 90vw;
        font-size: 14px;
    }
}