.form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 24px;
    position: relative;
    min-height: 80vh;
}

.form-wrapper form {
    margin: 0px 0px 10% 32%;
}

.form-wrapper textarea{
    height: 120vw;
}

.field {
    display: flex;
    align-items: center;
    font-size: 25px;
    border-radius: 30px;
    padding: 26px;
    background-color: #a6db67;
    border: none;
    color: white;
    -webkit-box-shadow: 10px 10px 36px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 36px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 36px -4px rgba(0, 0, 0, 0.75);
}

.field input {
    width: 100%;
    font-size: 20px;
    transition: all 0.3s ease-out;
}

.form-wrapper .field {
    width: 30vw;
    flex-direction: column;
    gap: 20px;
}

.form-wrapper .field > div {
    width: 80%;
}

.form-wrapper img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25vw;
    height: auto;
}

.form-wrapper .fish-bowl {
    bottom: 20%;
    right: 5%;
}

.form-wrapper a {
    color: #ea2879;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 15px;
}

.bottom-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.message {
    color: #ea2879;
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .form-wrapper .field {
        width: 35vw;
        flex-direction: column;
        gap: 20px;
    }

    .form-wrapper .fish-bowl {
        width: 20vw;
    }
}

@media screen and (max-width: 1000px) {
    .form-wrapper .field {
        width: 40vw;
        flex-direction: column;
        gap: 20px;
    }

    .form-wrapper form {
        margin: 0px 0px 10% 20%;
    }

    .field {
        font-size: 20px;
    }

    .form-wrapper a {
        font-size: 16px;
    }

    .field input {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .form-wrapper .field {
        width: 50vw;
        flex-direction: column;
        gap: 20px;
    }

    .form-wrapper form {
        margin: 0px 0px 10% 10%;
    }

    .field {
        font-size: 20px;
    }

    .form-wrapper a {
        font-size: 16px;
    }

    .field input {
        font-size: 18px;
    }

    .form-wrapper img {
        width: 30vw;
    }

    .form-wrapper .field > div {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .form-wrapper .field {
        width: 70vw;
    }

    .form-wrapper img {
        display: none;
    }

    .form-wrapper form {
        margin: 0px auto 10%;
    }
}

@media screen and (max-width: 500px) {
    .form-wrapper .field {
        width: 85vw;
    }
}
