.main-wrapper {
    width: 100vw;
    min-height: 100vh;
}

.cave-wrapper {
    display: grid;
    margin: auto;
    max-width: 70vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 3vh 0 5vh 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a6db67;
    border-radius: 30px;
    padding: 16px;
    color: white;
    max-height: 330px;
    transition: all 0.3s ease-out;
}

.cave-wrapper ul {
    padding-left: 0;
}

.cave-wrapper .card:hover {
    outline: 4px solid #ea2879;
    cursor: pointer;
    background-color: rgba(166, 219, 103, 0.8);
    -webkit-box-shadow: 10px 10px 36px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 36px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 36px -4px rgba(0, 0, 0, 0.75);
}

.cave-wrapper .card img {
    width: 10vw;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid #ea2879;
}

.cave-wrapper .card h3 {
    text-align: center;
    margin: 6px 0;
}

.cave-wrapper .card ul {
    list-style-type: none
}


.no-story-yet {
    position: absolute;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    color: #ea2879;
    left: 50%;
    transform: translate(-50%);
    top: 40vh;

}

.no-story-img {
    position: absolute;
    height: 36vh;
    width: auto;
    left: 50%;
    transform: translate(-50%);
    top: 45vh;
}

@media screen and (max-width: 1620px) {

    .cave-wrapper {
        max-width: 80vw;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1400px) {

    .cave-wrapper {
        max-width: 80vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .cave-wrapper .card img {
        width: 13vw;
    }
}

@media screen and (max-width: 1000px) {

    .cave-wrapper {
        max-width: 90vw;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cave-wrapper .card img {
        width: 20vw;
    }
}

@media screen and (max-width: 850px) {

    .cave-wrapper {
        max-width: 95vw;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (max-width: 600px) {

    .cave-wrapper {
        max-width: 90vw;
        grid-template-columns: 1fr 1fr;
    }

    .cave-wrapper .card img {
        width: 30vw;
    }

}

@media screen and (max-width: 500px) {

    .cave-wrapper {
        max-width: 95vw;
    }

}

@media screen and (max-width: 450px) {

    .cave-wrapper {
        max-width: 80vw;
        grid-template-columns: 1fr;
    }

    .card {
        max-height: 60vh;
        font-size: 22px;
    }

    .cave-wrapper .card img {
        width: 50vw;
    }

}

@media screen and (max-width: 350px) {

    .cave-wrapper {
        max-width: 90vw;

    }

    .cave-wrapper .card img {
        width: 60vw;
    }

}