@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');

html {
    font-family: 'Delius Swash Caps', cursive;
}

main {
    height: fit-content;
    padding-bottom: 9vh;
}

.pink {
    color: #ea2879;
}

.green {
    color: #a6db67;
}

.bold {
    font-weight: 500;
    text-transform: uppercase;

}

.fa-paw {
    color: #ea2879;
}

.fa-comment {
    color: white !important;
}

.edit-wrapper {
    width: 50vw;
    height: fit-content
}


/* --------BUTTONS------------ */


.submit-btn {
    border-radius: 30px;
    background-color: #ea2879;
    border: none;
    padding: 6px 22px;
    color: white;
    margin-top: 10px;
    transition: all 0.3s ease-in;
}

.submit-btn:hover {
    cursor: pointer;
    color: #ea2879;
    background-color: white;
    outline: 2px solid #ea2879;
}

/* -------------INPUTS---------- */



legend {
    background-color: #ea2879;
    border-radius: 30px;
    padding: 10px 16px;
    text-align: center;
}

html input {
    height: 42px;
    border-radius: 30px;
    text-indent: 16px;
    border: none;
    font-family: 'Delius Swash Caps', cursive;
    color: rgba(0, 0, 0, 0.691);
}

textarea {
    padding: 5px;
    text-indent: 20px;
    border-radius: 30px;
    border: none;
}

input:focus,
textarea:focus {
    outline: none !important;
    border: 3px solid #ea2879;
}